<phpunit bootstrap="./vendor/autoload.php">
    <testsuites>
        <testsuite name="ArtifactsShop">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">app</directory>
        </whitelist>
    </filter>
</phpunit>